.git
.cache
.local
.agents
node_modules
**/node_modules
**/dist
**/*.tsbuildinfo
screenshots
.replit
.replitignore
**/.replit-artifact
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
*.log